<div class="mb-3">
    <div class="form-inline justify-content-between col-md-12 mb-2">
        <div class="button">
            <div class="btn btn-primary btn-sm mb-2 add_btn btn-block">
                <i class="fa-solid fa-plus"></i> Add
            </div>
        </div>
        <section class="addSection"></section>
    </div>
    <!-------------- Table ----------------->
    <div class="container-fluid">
        <div class="tablecard small col-md-12">
            <table id="myTable" class="table table-striped table-bordered small">
                <thead>
                    <tr class="font-weight-bold">
                        <td></td>
                        <td>Warehouse ID</td>
                        <td>Warehouse Name</td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).on("click", ".add_btn", function (e) {
            let target = e.currentTarget;
            loader(target, true);

            $.ajax({
                url: '@Url.Action("Add","WareHouse")',
                type: "GET",
                success: function (resp) {
                    $(".addSection").html(resp);
                    $("#addModalCenter").modal('show');
                    loader(target, false);
                }
            })
        });


        $(document).on('click', '.addWareHouse', function (e) {
            e.preventDefault();
            let target = e.currentTarget;
            let wName = $('.warehouseName').val();
            if (wName != null && wName != "") {
                loader(target, true);
                $.ajax({
                    url: '@Url.Action("Add","WareHouse")',
                    type: "POST",
                    data: {
                        WareHouseName: wName
                    },
                    success: function (resp) {
                        loader(target, false);
                    }
                })
            }
        })
    </script>
}